h1,h5{
   background-color: #688594aa;
}

.header{
    text-align: center;
  background-image: url("https://i.ibb.co/0ypwZsZ/Administrative-Building-of-Rajshahi-University-1.jpg");
  
 

}
.logo{
    width: 90px;
}